/*
NEUTRALS
lighter: #f6f0ed
darker: #d4d2d5
dark: #353a47
ACCENT
light: #cae5ff
dark: #5d4954
*/
html{
    height:100%;
}
#header{
    background-color: #353a47;
    z-index: 1;
    color: #f6f0ed;
    padding: 5px;
    box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.24);
    min-width: 540px;
}
#header h2{
    margin:0px;
}
body{
    background-color: #d4d2d5;
    height: 100%;
    line-height: 1.4;
    font-size: 18px;
}
#content{
    background-color: #f6f0ed;
    color: #353a47;
    margin-left: 3%;
    margin-right: 3%;
    max-width: 50%;
    margin-bottom: 30px;
    padding: 1px 20px;
    padding-bottom: 18px;
    box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.24);
    min-width: 452px;
}
#content h2{
    margin: 0px;
    margin-top:18px;
    line-height:1.1;
}
#content hr{
    margin: 3px 0px;
    max-width: 70%;
}
table {
    border-collapse: collapse;
    border: 1px solid #353a47;
    margin: 18px 0px;
}
table, th, td {
    border-left: 1px solid #353a47;
}
th, td {
    padding: 5px;
    text-align: left;
}
th{
    background-color: #353a47;
    color: #f6f0ed;
}
tr:nth-child(even) {
    background-color: #d4d2d5;
}
.notop{
    margin-top: 0px;
}
ul{
    margin: 0px;
}
h4{
    margin-top: 18px;
    margin-bottom: 0px;
    display: inline-block;
}
